<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="institute-name">Institute Name</div>
            <div class="menu-icon" id="menuIcon">☰</div>
        </div>

        </div>
        <div class="menu" id="menu">
            <ul>
                <li><a href="{{url_for('course.courses')}}">Courses</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
            </ul>
        </div>
    </header>
    <section class="description">
        <div class="description-content">
            <div class="description-text">
                <h2>Description</h2>
                <p>Brief description of the institute or page content goes here.</p>
            </div>
            <div class="description-image">
                <img src="static/picture12.png" alt="Description Image">
            </div>
        </div>
    </section>
    <section class="info-cards">
        <div class="info-card">Info 1
         <p>lorem ipusm</p>
        </div>
        <div class="info-card">Info 2
            <p>lorem ipusm</p>
        </div>
        <div class="info-card">Info 3
            <p>lorem ipusm</p>
        </div>
    </section>

    <script src="/static/scripts.js"></script>
    
</body>
</html>
